<main class="container">
  <section class="row">
    <div class="col-lg-4 mt-4">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title-group>
            <h1>{{ pessoa.nome }}</h1>
            <mat-icon class="icone-card" aria-hidden="false" aria-label="Example home icon" fontIcon="person"></mat-icon>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          <p>Idade: {{ pessoa.idade }}</p>
          <p>Altura: {{ pessoa.altura }}</p>
          <p>Peso: {{ pessoa.peso }}</p>
          <p>Sexo: {{ pessoa.sexo }}</p>
          <p>Objetivo: {{ pessoa.objetivo }}</p>
        </mat-card-content>
        <mat-card-footer class="mt-2">
          <button mat-button color="primary" class="col-12 pt-4 pb-4">Editar Metas
            <mat-icon>edit</mat-icon>
          </button>
        </mat-card-footer>
      </mat-card>
    </div>

    <div class="col-lg-8 mt-4">
      <h1 class="h1__metas ms-2">Metas:</h1>
      <section class="row bg-dark">
        <app-card-meta class="col-lg-6 p-4" *ngFor="let meta of pessoa.metas" [meta]="meta"></app-card-meta>
      </section>
    </div>
  </section>











<!--
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <h1>{{ nome }}</h1>
        <mat-icon class="icone-card" aria-hidden="false" aria-label="Example home icon" fontIcon="account_circle"></mat-icon>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <p>Idade: {{ idade }}</p>
      <p>Altura: {{ altura }}</p>
      <p>Peso: {{ peso }}</p>
    </mat-card-content>
  </mat-card>

  <mat-grid-list cols="2" rowHeight="4:1">
    <mat-grid-tile>
      <app-card-meta></app-card-meta>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-card-meta></app-card-meta>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-card-meta></app-card-meta>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-card-meta></app-card-meta>
    </mat-grid-tile>
  </mat-grid-list>
-->
</main>
