main{
  height: 100%;
  width: 100%;
}
.brand-nav{
  margin-left: 20px;
  font-size: 2rem;
  font-weight: bolder;
  letter-spacing: 2px;
}
.navbar-dark{
  background-color: #725ff5;
  color: #252525;
}

.nav-item{
  font-size: xx-large;
}

.nav-link{
  font-weight: 500;
}
