<main class="bg-dark">
  <h1 class="text-white">{{ title }}</h1>
  <ul class="nav mb-5 justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="/pagina-principal" (click)="changeTitle('Better Health')">Principal</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="pagina-alimentacao" (click)="changeTitle('Alimentação')">Alimentação</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="pagina-exercicios" (click)="changeTitle('Exercicios')">Exercicios</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="pagina-saude" (click)="changeTitle('Saúde Mental')">Saude Mental</a>
    </li>
  </ul>

  <section>
    <router-outlet></router-outlet>
  </section>

</main>


